{{ define "main" }}

<!-- page-title -->
<section class="section bg-secondary news-page-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h4>{{ .Title }}</h4>
      </div>
    </div>
  </div>
</section>
<!-- /page-title -->

<!-- news list -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mt-5">
        {{ $pages := .Pages.ByDate.Reverse }}

        <div id="news-list" class="news-list" data-page-size="5">
          {{ range $i, $p := $pages }}
          <div class="news-list-item">
            <article data-file="{{ .Permalink }}" data-target="article" class="news-list-article">
              <div class="news-list-media">
                {{ partial "image.html" (dict "Src" .Params.Image "Alt" "post-thumb" "Class" "img-fluid" ) }}
              </div>
              <div class="news-list-body">
                <div class="news-list-meta">
                  <span class="news-list-category">
                    {{ with index .Params.categories 0 }}{{ . }}{{ end }}
                  </span>
                  <span class="news-list-dot">•</span>
                  <span class="news-list-date">{{ .PublishDate.Format "Jan 02, 2006" }}</span>
                </div>
                <h3 class="news-list-title">
                  <a href="{{ .Permalink }}" class="text-dark">{{ .Title }}</a>
                </h3>
                <p class="news-list-excerpt">{{ .Summary }}</p>
                <a class="btn btn-transparent news-list-readmore" href="{{ .Permalink }}">Continue...</a>
              </div>
            </article>
          </div>
          {{ end }}
        </div>
      </div>

      {{ partial "sidebar.html" . }}
    </div>
  </div>
</section>
<!-- /news list -->

{{ end }}
